* {
    box-sizing: border-box;
    outline: none;
}

html {
    background: radial-gradient(circle, white, #b5b5b5);
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    max-width: 1500px;
    font-size: 1.1em;
    font-family: "Roboto", Arial;
    margin: 0 auto;
    overflow-x: hidden;
    color: transparentize($primary-color, .2);
    // font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
