.image-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    // background: $primary-color;
    background: linear-gradient(to right bottom, #010138, #111186);
    left: 0;
    top: 0;
    z-index: -10;
    opacity: 0;
    font-weight: bold;


    .image-modal__content {
        width: 75%;
        position: fixed;
        top: 10.5%;
        left: 50%;
        transform: translate(-50%, 0);
        min-height: 500px;

        @media screen and (max-width: $breakpoint-small-medium) {
            width: 100%;
            top: 11%;
        }

        @media screen and (max-width: $breakpoint-small) {
            top: 15.5%;
        }
    }

    .image-modal__modal-image {
        width: 70%;
        height: 500px;
        margin: 0 auto;

        img {
            width: 100%;
        }

        @media screen and (max-width: $breakpoint-small-medium) {
            height: 400px;
        }

        @media screen and (max-width: $breakpoint-extra-small) {
            height: 300px;
        }
    }
}


.image-modal--shown {
    // z-index: 100;
    z-index: 120;
    opacity: 1
}


.image-modal__modal-text-content {
    width: 70%;
    margin: 50px auto;
    text-align: center;
    color: $secondary-color;
    opacity: 0;
    transform: translateY(50px);
    transition: all .4s;

    @media screen and (max-width: $breakpoint-smallest) {
        font-size: .9em;
    }
}

.image-modal__modal-text-content--shown {
    opacity: 1;
    transform: translateY(0);
}


.image-modal__close-modal {
    width: 37px;
    height: 37px;
    position: absolute;
    right: 30px;
    top: 30px;
    background: url("../images/cancel.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-100px);
    transition: all .4s;

    @media screen and (max-width: $breakpoint-medium-large) {
        width: 35px;
        height: 35px;
    }

    @media screen and (max-width: $breakpoint-small-medium) {
        width: 30px;
        height: 30px;
    }
}

.image-modal__close-modal--shown {
    opacity: 1;
    transform: translateY(0);

    &:hover {
         transform: translateY(0) rotateZ(180deg);
    }

}

.no-scroll {
    overflow-y: hidden;
}

//navigation arrows

.image-modal__image-navigation-arrow {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: 50%;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all .2s;
    border-radius: 50%;

    &:hover {
        border: 4px solid transparentize($secondary-color, .6);
        transform: translateY(-50%) scale(1.1);
    }

    @media screen and (max-width: $breakpoint-small-medium) {
        top: auto;
        bottom: 50px;

        &:hover {
            border: none;
        }
    }

    @media screen and (max-width: $breakpoint-small) {
        bottom: 20px;
    }

}

.image-modal__image-navigation-arrow.right-arrow {
    background-image: url("../images/right-arrow.svg");
    right: 60px;
    background-position: 60%;
}

.image-modal__image-navigation-arrow.left-arrow {
    background-image: url("../images/left-arrow.svg");
    left: 60px;
    background-position: 40%;
}

.image-clone:not(.image-clone--last),
.image-clone.image-clone--next {
    // box-shadow: 0 0 23px 1px rgba(0, 0, 0, 0.47);
    // box-shadow: 0 0 23px 1px rgba(0,0,0,.66);
    box-shadow: 0 0 24px 1px rgba(0,0,0,.67);
}

.image-clone--last {
    transition: all 1.2s ease 0s;
    margin-top: 0;
    opacity: 1;
}

.image-clone--last.slide-out {
    margin-top: -50%;
    opacity: 0;
}

.image-clone--next {
    transition: all 1s ease 0s;
    margin-top: 0;
    opacity: 1;
}

.image-clone--next.to-slide-in {
    margin-top: -50%;
    opacity: 0;
}

.image-clone--last.to-slide-in {
    margin-top: -50%;
    opacity: 0;
}


